body{
  background-color:rgb(245, 237, 237);
} 
 #home{
    display: inline-block;
    position: relative;
    width: 100%;
    font-size: 18px;
    
  }
  .image{
    width:100%;
    height:730px;
    filter:brightness(0.3);
    display: block;
  }
  #homenav{
      position: absolute;
      top:1%;  
      padding-top: 5px;
      color:bisque;    
   
  }
  #headernav{
      padding: 7px;
      color:bisque;    
      background-color: black;
      font-family: cursive;
      font-size: 18px;
  }
  #homelogo{
    margin-left: 20px;
    font-size: 20px;
  }
  #headerlogo{
    
    margin-left: 20px;
    font-size: 20px;
  }
  .navhome{
    padding-top: 5px;
    float:right;
    color: beige;
    text-decoration: none;
    padding-left:60px;
    padding-right: 5px;
  }
  .navhomeh{
    padding-top: 5px;
    float:right;
    color: beige;
    text-decoration: none;
    padding-left:60px;
    padding-right: 5px;
  }
  .navhomed{
    text-decoration:none;
    color: beige;
  }
  .navhome:hover{
    color : orangered;
  }
  #hometext{
    position: absolute;
    font-size: 30px;
    top:35%;
    left:10%;
    color: beige;
  }
  #hometext button{
    font-size: 28px;
    background-color: orangered;
    border-radius: 5px;
    padding: 5px;
    color: black;
  }
  
  
  .logindiv{
    background-color: rgb(243, 91, 36);
    border-radius: 5px;
    position: absolute;
    width:30%;
    height: 460px;
    padding-left: 70px;
    font-size: 22px;
    font-family: cursive;
    top:18%;
    left:35%;
  }
  .login{
  
  height:730px;
  position: relative;
  width: 100%;
  }
  
  #lhead{
    text-align: center;
    padding-top: 30px;
     padding-right: 70px;
     padding-bottom: 10px;
     color:burlywood;
     font-size: 130%;
  }
  .lradio{
    margin-left: 50px;
  }
  .linput{
    margin-left: 0px;
    height: 30px;
    margin-bottom: 15px;
    width: 80%;
    border-radius: 5px;
    font-size: 17px;
    font-family:Arial, Helvetica, sans-serif;
  }
  #lbutton{
    margin-left: 15%;
    margin-top: 20px;
    width:50%;
    height: 45px;
    font-size: 25px;
    font-family: cursive;
    border-radius: 5px;
    background-color: black;
    color:orangered
  }
  #lspan{
    font-size:16px;
    padding-left: 30px;
  }
  #lreg{
    text-decoration: none;
    color:burlywood;
  }
  
  .registerdiv{
    background-color: rgb(232, 93, 43);
    border-radius: 5px;
    position: absolute;
    width:29%;
    height: 460px;
    padding-left: 70px;
    font-size: 22px;
    font-family: cursive;
    top:17%;
    left:35%;
  }
  
  
  #disaster-page{
    background-color:rgb(245, 237, 237);
  }
  #disaster-head{
    margin: 0px;
    text-align: center;
    font-size: 30px;
    color:beige;
    padding: 5px;
    background-color:black;
    font-family: cursive;
    border: 1px lavenderblush solid;
  }
  .verify{
    color : green
  }
  .disaster{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    padding-left: 5%;
    padding-top: 15px;
    font-size: 16px;
    font-family: cursive;
    
  }
  .disaster-card{
    display: flex;   
    justify-content: space-around;
    padding: 10px;
    margin: 10px;
    flex-direction: column;
    width:45%;
    background-color:rgb(222, 218, 218);
    border:2px solid black;
    border-radius: 5px;
  }
  .disaster-card button{
    background-color: beige;
    margin: 5px;
    color:orangered
  }
 .disaster-card a{
  text-decoration: none;
 }
 #author{
  text-align: right;
 }
  #post-text{
      text-align: center;
    background-color: orangered;
    color:beige;
   font-size: 18px;
   padding: 8px;
  }
  #post-text button{
    width:150px;
    height: 40px;
    font-size: 20px;
    font-family: cursive;
    border-radius: 5px;
    color:orangered;
    background-color: beige;
  }

.custom-modal{
  margin-top: 50px;  
  margin-bottom: 100px;
}
#modalhead ,#modalfoot{
  background-color:rgb(245, 237, 237);
}

#modalform{
  background-color:rgb(222, 218, 218);
}

.disaster-form label {
  width: 30px;
}
.form input[type="text"],
.form input[type="number"]
{
  width: 50%;
}
#textarea{
  width:80%;
  height:70px;
}

#dis-submit{
  width: 20%;
  height :40px;
  background-color: orangered;
  color:white;
  border-radius: 5px;
  margin-top: 10px;
}
#choose-button{
  width:220px;
  height: 30px;
  font-size: 18px; 
  border-radius: 5px;
  margin :5px;
}
#current-button{
  width:220px;
  height: 30px;
  font-size: 18px;
  margin :5px;
  border-radius: 5px;
}
.form{
  background-color:rgb(222, 218, 218);
}

.volunteer-modal{
  margin-top: 120px;
  width:40%;
  margin-left: 450px;

}
.volunteer-form input[type="text"],
.volunteer-form input[type="number"]
{
  width: 40%;
}
.volunteer-form button{
  width: 20%;
  background-color: orangered;
  color:white;
  border-radius: 5px;
  margin-top: 10px;
}
.volunteer-modal #modalhead{
  font-size: 18px;
  font-family: cursive;
  background-color:rgb(245, 237, 237);
}
.volunteer-modal #modalhead,#modalfoot{
  background-color:rgb(245, 237, 237);
}
.volunteer-modal #modalform{
  background-color:rgb(222, 218, 218);
}

.volunteer {
  display : flex;
  flex-wrap: wrap;
  gap:30px;
  padding-left: 110px;
}
.volunteer p{
  font-size: 15px;
  font-family: cursive;
  padding-right: 10px;
}
.volunteer-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-around ;
    flex-direction: column;
    background-color:rgb(222, 218, 218);
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 2px black solid;
    border-radius: 5px;
    width :30%
}
#volbutton{
  width : 97%;
  height: 30px;
  font-size: 18px; 
  background-color: beige;
  margin :5px;
  font-family: cursive;
  color: orangered;
  
}
.profilehead{
  text-align: center;
  color: orangered;
  margin: 10px;
  border: 1px solid black;
  background-color: beige;
  font-family: cursive;
}

#footer{
  background-color: black;
  margin-top: 20px;
  color : beige;
 text-align: center;
 padding: 5px;
}
#footerc{
  margin-bottom: 0px;
}
.about1{
  display:inline-flex;
  
  margin : 40px;
 padding-bottom: 40px;
 margin-bottom: 0px;
  border-bottom: 2px solid black;
}
.about2{
  display:inline-flex;
  margin : 40px;
  padding-bottom: 40px;
  margin-bottom: 0px;
}
.caroselp{
  font-size: 20px;
  margin: 40px;
 margin-bottom: 40px; 
}
.aboutp{
  font-size: 18px;
  margin: 20px;
  margin-bottom: 20px;
  
}
.aboutbut{
  width : 97%;
  height: 30px;
  font-size: 18px; 
  background-color: beige;
  margin :5px;
  font-family: cursive;
  color: orangered;
}
.caroselp span{
  color:orangered;
  font-size: 28px;
  font-family: cursive;
}
.carosel{
  width : 550%;
  height:500px
}
.caroselimage{
  width : 100%;
  height : 500px
}
.caroselimage1{
  width : 45%;
  height: auto;
  margin-top: 3%;
}
.caroselholder{
  width : 100%;
  height : 500px
}

.hover-dropdown {
 
  float: right;
  font-size: 16px;
}

.hover-dropdown .dropdown-toggle {
  color: white;
  font-size: 18px;
  margin-right: 20px;
  text-decoration: none;
}

.hover-dropdown .dropdown-toggle:hover {
  color: #ddd;
}

#basic-nav-dropdown {
  display: inline-block; /* Ensure the dropdown stays inline */
  margin-right: 20px; /* Optional: add space between the dropdown and the next element */
}

.dropdown-menu {
  background-color: #343a40;
  border: 2px black solid;
  width: 60px;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #495057;
  
}

.safety{
  font-size: 17px;
  padding: 30px;
  margin: 20px;
  border: 2px black solid;
}
.safety h3{
  text-align: center;
  font-family: cursive;
  color:orangered;
}
.safety strong{
  font-size: 18px;;
}
.safety img{
  width : 40%;
  height : 500px;
 margin-left: 30%;
 margin-bottom: 40px;
}